<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
  

 
    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      
      
      <% if  logged_in? %>
      <a href ="/logout">Logout</a>
      <a href ="/tweets">Tweets</a>

      <a href ="/tweets/new">New Tweet</a>
      <% elsif !logged_in?%>
      <a href ="/login">Tweets</a>
      <% end %>



   

      <%= yield %>
    </div>

  </body>
</html>